@use '../abstracts/brand' as brand;

.list-group-item {
  border: none;
  border-left: 3px solid transparent;
  color: brand.$font-base-color;
}

.list-group-item:hover {
  background-color: rgba(31, 79, 216, 0.04);
}

.list-group-item.active {
  background-color: rgba(31, 79, 216, 0.08);
  color: brand.$brand-primary;
  border-left-color: brand.$brand-primary;
  font-weight: 500;
}
