@use '../abstracts/brand' as brand;

body {
  color: brand.$font-base-color;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: -0.01em;
}

p {
  color: brand.$font-muted-color;
}
